.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .main{
  max-width: 1320px;
  margin: auto;
  background-color: #61dafb;
} */

.row{
  width: 1320px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
.CardItems{
  flex-basis: 23%;
  background-color: aliceblue;
  margin: 1%;
  height: 200px;
}

.para{
  background-color: red;
  padding: 10px;
  width: 1000px;
  margin: auto;
  text-align: left;
}

.menu{
  width: 80%;
  text-align: left;
  left: -100%;
  position: fixed;
  transition: 0.5%;
  list-style: none;
  height: 100vh;
  background-color: yellow;
}

.activeMenu{
  left: 0%;
}

.menu ul li{
  list-style: none;
  padding: 10px 0px;
}

.micon{
  position: absolute;
  right: 10px;
}

.modalOverLay{
  width: 100%;
  position: fixed;
  display: none;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modalShow{
  display: block;
}

.ModalDiv{
  width: 320px;
  position: fixed;
  height: 320px;
  left: 50%;
  transition: 0.3%;
   top: -500px;
  transform: translate(-50%,-50%);
  background-color: white;
}

.showModalDiv{
  top: 50%;
}

.en{
  position: fixed;
  right: -30px;
  top: 100px;
  transform: rotate(90deg);
}

.faqouter{
  width: 1320px;
  margin: auto;
}

.faqItems{
  border: 1px solid red;
  margin-bottom: 20px;
}

.faqItems h2{
  margin: 0px;
  padding:10px;
  background-color: #282c34;
  color: white;
  text-align: left;
}

.faqItems p{
  text-align: left;
  padding:10px;
  margin: 0px;
  transform: scaleY(0);
  padding: 0px;
}

activeAns{
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}
